@import "../../../assets/styles/common.scss";

.wrapper {
  position: relative;
  @include cardBorder;
  overflow: hidden;
  .like {
    position: absolute;
    top: 2.5rem;
    right: 0.7rem;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }
  .cross {
    position: absolute;
    top: 1.2rem;
    right: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 5;
    span {
      &::before {
        cursor: pointer;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1.3rem;
        height: 1px;
        background-color: $black;
        transform: rotate(-45deg);
      }
      &::after {
        cursor: pointer;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1.3rem;
        height: 1px;
        background-color: $black;
        transform: rotate(45deg);
      }
    }
  }
  .card {
    width: 90%;
    display: flex;
    .image {
      width: 10rem;
      height: 10rem;
      flex: 0 0 10rem;
      @include custom(450) {
        width: 8rem;
        height: 10rem;
        flex: 0 0 8rem;
      }
    }
    .info {
      padding: 1rem 1.5rem;
      .country {
        display: inline-block;
        padding: 0.5rem 0.75rem;
        color: $country;
        background-color: $countryBg;
        margin: 0 0 0.75rem 0;
        @include H12;
      }
      .title {
        margin: 0 0 0.75rem 0;
      }
      .rate {
        margin: 0 0 0.75rem 0;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
      .more {
        @include H12;
        color: $gray;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
