@import "../../../assets/styles/common.scss";

.container {
  @include container;
  .title {
    @include H32;
    margin: 0 0 1.5rem 0;
  }
  .error {
    @include H32;
    font-size: 2rem;
    color: red;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    @include custom(850) {
      grid-template-columns: 1fr;
    }
  }
}
