@import "../../../assets/styles/common.scss";

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
}
.btns {
  span {
    font-size: 15px;
  }
  button {
    padding: 0 0.5rem;
    margin: 0 0 0 0.5rem;
  }
}
.title {
  @include H32;
}
