@import "./grid.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: $black;
  cursor: default;
}
a {
  color: inherit;
  text-decoration: none;
}
nav,
ul,
li {
  list-style-type: none;
}
input {
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  border: none;
  background: none;
}
