@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@mixin H12 {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 6%;
}
@mixin H32 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}
